h1, h2, h3 {
    margin-top: 14px;
}

code {
    background-color: #232222;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.9em;
    margin: 4px;
    padding: 14px;
    width: 100%;
    overflow: auto;
}

p {
    padding: 10px 0px;
}