h1, h2, h3 {
    margin-top: 14px;
}

code {
    background-color: #232222;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.9em;
    margin: 4px;
    padding: 14px;
    width: 100%;
    overflow: auto;
}

ul li {
    margin-left: 14px;
    /* list-style-type: disc; */
    font-weight: 700;
}

strong {
    margin-left: 14px;
    font-weight: 700;
}

p {
    padding: 10px 0px;
}